.editor-container {
  border-radius: 2px;
  max-width: 1024px;
  color: #000;
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
}

.editor-inner {
  background: #fff;
  position: relative;
  align-self: stretch;
  padding: 15px 0;
  overflow: scroll;
}

.editor-input {
  flex-grow: 1;
  resize: none;
  font-size: 15px;
  position: relative;
  tab-size: 1;
  padding: 16px 16px;
  caret-color: #444;
  overflow-y: scroll;
  border-radius: 8px;
  align-self: stretch;
  height: 70vh;
  margin: 4px;

  outline: 1px solid #cecece;
  &:focus {
    outline: 1px solid #007bff;
  }
}

.editor-listitem {
  margin: 8px 32px 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}
